.comments {
    width: 100%;
    height: 10;
    padding: 0px;
}

.individual__comment {
    border-top: 3px solid var(--darklavender50opacity);
    padding-top: 1rem;
    margin-top: 5px;
    font-size: medium;
}

.comment-details {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    row-gap: 0.5rem;
}

.commentForm {
    row-gap: 1rem;
}

.formButton {
    min-width: 100%;
    max-width: 100%;
}

.deleteButton {
    min-width: 100px;
    max-width: 10%;
}

.deleteButton:hover {
    color: red;
}

#newCommentBox {
    padding: 1rem;
    min-width: 100%;
    max-width: 100%;
    border: 3px solid var(--darklavender);
    border-radius: 10px;
    background-color: var(----lightlavender);
}

#newCommentBox:focus {
    background-color: rgb(240, 234, 255);
}

.newComment {
    border: 3px solid var(--darklavender50opacity);
    border-radius: 10px;
    background-color: var(--darklavender);
    color: ghostwhite;
    padding: 1rem;
    font-size: larger;
    text-align: left;
}

.newComment .footer {
    display: block;
}

