nav,
.menuBar {
    background-color: var(--teal);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.linkOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.filterBar {
    background-color: var(--teal);
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex: row;
    flex-wrap: wrap;
    gap: 1rem;
}

fieldset {
    color: ghostwhite;
    border: none; 
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 230px;
    text-transform: capitalize;
}

select {
    color: ghostwhite;
    background-color: var(--darklavender);
    border: solid 2px var(--lightlavender);
    border-radius: 5px;
    padding: 10px;
    width: 65%;
    max-width: 200px;
    text-transform: capitalize;
    cursor: pointer;
}

button,
.menuBar a {
    color: ghostwhite;
    background-color: var(--darklavender);
    border: solid 2px var(--lightlavender);
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    max-width: 200px;
    text-transform: capitalize;
cursor: pointer;
}