.title {
    width: 100%;
    height: fit-content;
    background-color: var(--teal);
    color: ghostwhite;
    font-size: 1.3rem;
    font-style: oblique;
    font-weight: 900;
    text-transform: capitalize;
    padding: 10px;
}

.footer {
    font-weight: 350;
    font-size: smaller;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-wrapped {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactions {
    font-size: large;
    font-weight: 600;
    text-transform: capitalize;
    display: grid;
    grid-template: 1fr/ 1fr 1fr 2fr;
    grid-template-areas: "likes  date";
    align-items: center;
}

.tealBG {
    background-color: var(--teal);
    color: white;
}

.justified {
    text-align: justify;
}

.center {
    justify-content: center;
    text-align: center;
}

.likedEmoji {
    color: transparent;
    text-shadow: 0 0 0 var(--teal);
}

.darkLavEmoji {
    color: transparent;
    text-shadow: 0 0 0 var(--darklavender);
}