.review-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh
}

.review-card {
    width: 90%;
    height: 20vh;
    list-style: none;
    background-color: var(--lightlavender);
    border: 3px solid var(--darklavender);
    border-radius: 15px;
    overflow: hidden;
    text-align: left;

    display: grid;
    grid-template: 0.8fr 1.2fr / 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header image" "info info info info";
    justify-content: center;
}

.review-list:hover .review-card {
    filter: blur(1px);
    opacity: 0.5;
}

.review-list .review-card:hover {
    filter: blur(0px);
    transform: scale(1.03);
    opacity: 1;
}

.review-card__title {
    grid-area: header;
    background-color: var(--teal);
    width: 100%;
    height: 100%;
    max-height: 8vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    color: ghostwhite;
}

.single {
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    text-align: center;

}

.single__img {
    width: 100%;
    overflow-y: scroll;
    object-fit: cover;
}

.absolute {
    width: fit-content;
    height: fit-content;
    max-width: 90vw;
    max-height: 90vh;
    position: absolute;
    opacity: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 100px 1000px var(--darklavender);
}

.absolute .single__img {
    width: fit-content;
    height: fit-content;
    max-width: 90vw;
    max-height: 90vh;
    overflow: cover;
    object-fit: cover;
}

figcaption {
    background-color: var(--teal);
    text-transform: uppercase;
    padding: 0.5rem 0 0.5rem 0;
    opacity: 0.9;
    color: white;
    width: 100%;
    font-size: 1rem;
    display: block;
    float: left;
    position: sticky;
    top: 0;
}

figure {
    float: left;
    margin: 0;
}

.review-card__title p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: ghostwhite;
}

.review-card__img {
    grid-area: image;
    width: 100%;
    height: 100%;
    max-height: 8vh;
    padding: 0px;
    object-fit: cover;
}

.review-card__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;

    text-align: left;

    padding: 1vh 1vw 2vh 2vh;

}


.review-card__body {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: "... read more";
}


.single-review-card {
    width: 100%;
    color: ghostwhite;
    background-color: var(--darklavender);
    overflow: scroll;
    text-align: left;
    
}

.single-review-card h2 {
    text-align: center;
}

.single-review-card h3 {
    padding: 1rem;
}

.single-review-card dl {
    gap: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 90%;
}

.single-review-card dt {
    font-size: 1.3rem;
    font-weight: 700;
}

.single-review-card dd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.review-body dd {
    padding-bottom: 20px;
}

.review-body {
    width: 90%;
    height: fit-content;

    text-align: justify;
    background-color: var(--lightlavender);
    color: black;
    padding: 1rem;
}

.info {
    /* justify-self: center; */
    margin-top: 10px;
    height: min-content;
    max-height: 100vh;
    /* width: 90vw; */
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    column-gap: 3rem;
    justify-content: left;
    width: 90vw;
    gap: 0.5rem;
    border: 3px solid var(--lightlavender);
    border-radius: 10px 10px 0 0;
}

.comments {
    width: 100%;
    padding: 0px;
}

.likeButton {
    color: black;
    font-size: large;

    font-weight: 600;
    background-color: transparent;
    /* padding: 10px; */
    border: 0px;
    padding: 0px;
    width: fit-content;
    max-width: 5rem;
    text-align: left;
}

.likeButton {
    color: black;
    font-size: large;

    font-weight: 600;
    background-color: transparent;
    /* padding: 10px; */
    border: 0px;
    padding: 0px;
    width: fit-content;
    max-width: 5rem;
    text-align: left;
}